<h2 class="content-subhead"><%= @title %></h2>

<% paragraphs_array = in_paragraphs(@chapter).map do |paragraph| %>
  <% "<p id=#{paragraph[:number]}>" + paragraph[:text] + '</p>' %>
<% end %>

<%= paragraphs_array.join %>
